<div class="card border-left-success ">
    <h5 class="card-header bg-gray-200">My projects</h5>
    <div class="card-body">
        <div *ngFor="let project of projects">
            <strong>
                <a [routerLink]="['/projects', project.id]"><h3 class="card-title">{{ project.name }}</h3></a>
            </strong>
            <p class="card-text">{{ project.description }}</p>
            <hr>
        </div>
    </div>
</div>

<br>

<div class="card border-left-success">
    <h5 class="card-header bg-gray-200">Courses</h5>
    <div class="card-body">
        <div *ngFor="let course of courses">
            <strong>
                <h3 class="card-title">{{ course.title }}</h3>
            </strong>
            <p class="card-text">{{ course.description }}</p>
            <div class="col">
                <div class="progress progress-sm mr-2">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 4%" aria-valuenow="4"
                        aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <br>
            <p>{{ course.finished }} / {{ course.total }}</p>
        </div>
    </div>
</div>