<div class="card border-left-success mb-4">
    <h5 class="card-header bg-gray-200">{{ project.name }}</h5>
    <div class="card-body">
        <div>
            <p>{{ project.level }}</p>
            <div class="pl-5">
                <h4 class="card-title">{{ 'Background Context' }}</h4>
                <p class="card-text pl-5">{{ project.description }}</p>
            </div>
            <div class="pl-5 mt-3">
                <h4 class="card-title">{{ 'Resources' }}</h4>
                <ul>
                    <div *ngFor="let concept of project.concepts">
                        <a [href]="concept.link" target="_blank">
                            <li>{{concept.title}}</li>
                        </a>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="card border-left-success ">
        <h5 class="card-header bg-gray-200">Tasks</h5>
    <app-task *ngFor="let taskData of tasks" [modalEvent]="modalEvent" [taskData]="taskData"></app-task>
</div>


<app-task-modal [modalEvent]="modalEvent"></app-task-modal>