<div class="card-body">
    <div class="pl-5">
        <div class="mb-2">
            <h4 class="card-title">{{ taskData.title }}</h4>
        </div>
        <div class="mb-5">
            <p class="card-text pl-5 ">{{ taskData.description }}</p>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-8 bg-gray-300 rounded p-4">
            <button class="btn btn-light btn-block  btn-sm" data-toggle="modal" data-target="#exampleModal">Check Task</button>
        </div>
    </div>
</div>
<hr>
<app-task-modal></app-task-modal>