<div class="card border-left-success">
    <h5 class="card-header bg-gray-200">Peers</h5>
    <div class="card-body">
        
        <div class="row">
            <div class="col-12">
                <div *ngFor="let peer of people">

                    <div class="mb-3 text-center">
                        <div class="mx-auto d-block">
                                <img [src]="peer.profile_pic" class="rounded-circle" alt="">
                        </div>
                        <div class="">
                            <h4>{{ peer.first_name }} {{ peer.last_name }}</h4>
                        </div>
                        <div class="text-center">
                            <p>{{ peer.role  | titlecase}}</p>
                        </div>
                    </div>
                    
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>