body {
    margin: 0;
    font-family: "Lato", sans-serif;
  }
  img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
  }
  
  .sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    padding: 16px;
    text-decoration: none;
  }
   
  .sidebar a.active {
    background-color: #1BA94C;
    border-radius: 5px;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: rgb(59, 73, 92);
    color: white;
    border-radius: 5px;
  }
  
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {
      float: none;
      width: 98%;
      margin: 0px 5px 0px 5px;
      border-radius: 10px 10px 10px 10px !important;

    }
    div.content {margin-left: 0;}

    .sidebar-brand-text {
      text-align: center;
      font-size: 10px;
    }
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      float: none;
      width: 97%;
      margin: 0px 5px 0px 5px;
      border-radius: 10px 10px 10px 10px !important;
    }
    
  }