<div id="wrapper">
  <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <div class="text-center mt-4">
      <img [src]="photo" alt="">
    </div>
    <div class="sidebar-brand d-flex align-items-center justify-content-center">
      <div class="sidebar-brand-icon rotate-n-15">
        <i class="fas fa-laugh-wink"></i>
      </div>
      <div class="sidebar-brand-text mx-3">HackEnglish</div>
    </div>
    <hr class="sidebar-divider my-0">
    <hr class="sidebar-divider">
    <li class="nav-item">
      <a class="nav-link" routerLink="/projects" routerLinkActive="active">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Projects</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/peers" routerLinkActive="active">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Peers</span></a>
    </li>
    <li class="nav-item " routerLink="/profile" routerLinkActive="active">
      <a class="nav-link" routerLink="/profile" routerLinkActive="active">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Profile</span></a>
    </li>
    <li class="nav-item " routerLink="/concepts" routerLinkActive="active">
      <a class="nav-link" routerLink="/concepts" routerLinkActive="active">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Concepts</span></a>
    </li>
    <hr class="sidebar-divider d-none d-md-block">
  </ul>
</div>