<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content border-left-success ">
            <div class="modal-header bg-gray-200">
                <h5 class="modal-title" id="exampleModalLabel">Title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="">
                <div class="modal-body">    
                    <div id="insert">
                        
                    </div>
                </div>
            </form>
            <div class="modal-footer justify-content-between">
                <div class="w-100">
                    <div class="text-center d-flex justify-content-center bg-gray-300 rounded p-2">
                        <button class="btn btn-light btn-block btn-sm" type="button">Check your task</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
