<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Fonts -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" crossorigin="anonymous">
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js"
        integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9"
        crossorigin="anonymous"></script>

    <link href="/css/auth.css" rel="stylesheet" id="">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js"
        integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js"
        integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9"
        crossorigin="anonymous"></script>
    <script>$(document).ready(function () { $('body').bootstrapMaterialDesign(); });</script>
    <title>Laravel</title>
</head>

<body>
    <div class="container h-100">
        <div class="row align-items-center h-100">
            <div class="col-5 mx-auto">

                <div class="modal-dialog" role="document"></div>
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"></h5>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <!-- left unspecified, .bmd-form-group will be automatically added (inspect the code) -->
                                <label for="formGroupExampleInput" class="bmd-label-floating">First Name</label>
                                <input type="text" class="form-control" id="formGroupExampleInput">
                            </div>
                            <div class="form-group bmd-form-group">
                                <!-- manually specified -->
                                <label for="formGroupExampleInput2" class="bmd-label-floating">Last Name</label>
                                <input type="text" class="form-control" id="formGroupExampleInput2">
                            </div>
                            <div class="form-group bmd-form-group">
                                <!-- manually specified -->
                                <label for="formGroupExampleInput2" class="bmd-label-floating">Email</label>
                                <input type="text" class="form-control" id="formGroupExampleInput2">
                            </div>
                            <div class="form-group bmd-form-group">
                                <!-- manually specified -->
                                <label for="formGroupExampleInput2" class="bmd-label-floating">Password</label>
                                <input type="text" class="form-control" id="formGroupExampleInput2">
                            </div>
                            <div class="form-group bmd-form-group">
                                <!-- manually specified -->
                                <label for="formGroupExampleInput2" class="bmd-label-floating">Confirm Password</label>
                                <input type="text" class="form-control" id="formGroupExampleInput2">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer ">
                        <button type="button" class="btn btn-raised btn-primary">Login</button>
                    </div>
                </div>
            </div>


        </div>
    </div>
    </div>
</body>

</html>