<div class="card border-left-success">
        <h5 class="card-header bg-gray-200">Profile</h5>
        <div class="card-body">
            <div class="row">
                <div class="col-5 d-flex justify-content-center">
                        <div class=" mb-3">
                            <div class="mr-auto p-2 bd-highlight">
                                <img [src]="user.profile_pic" class="rounded-circle" alt="">
                            </div>
                            <div class="text-center">
                                <h4>{{ user.first_name }} {{ user.last_name }} </h4>
                                <p>{{ user.role | titlecase }} </p>
                            </div>
                            <div class="text-right bg-gray-200 pt-2 pb-2 pr-4 rounded">
                                <strong><h4>{{ user.score }}</h4></strong>
                            </div>
                        </div>
                </div>
                <div class="col-7">
                    <form>
                        <div class="form-group">
                          <input type="text" class="form-control" id="first_name" aria-describedby="emailHelp" [value]="user.first_name">
                        </div>
                        <div class="form-group">
                          <input type="text" class="form-control" id="last_name" aria-describedby="emailHelp" [value]="user.last_name">
                        </div>
                        <div class="form-group">
                          <input type="email" class="form-control" id="email" aria-describedby="emailHelp" [value]="user.email">
                        </div>
                        <div class="form-group">
                          <input type="password" class="form-control" id="last_password" placeholder="Last password" [value]="user.password" [placeholder]="user.password">
                        </div>
                        <div class="form-group">
                          <input type="password" class="form-control" id="new_password" placeholder="New password">
                        </div>
                        <div class="form-group">
                          <input type="password" class="form-control" id="confirm_password" placeholder="Confirm password">
                        </div>
                        <button type="submit" class="btn btn pull-right btn-success">Update</button>
                      </form>
                </div>
    
            </div>
        </div>
        <div class="card-footer justify-content-end">
          <div class="text-right">
            <button class="btn btn-outline-danger" (click)="logOut()">
              Logout
            </button>
          </div>
        </div>
    </div>